@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

.home-scroll {
  overflow-y: scroll;
}
.home-scroll::-webkit-scrollbar {
  display: none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100%; /* Ensure full height */
  background-color: #1a1a1a;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #1a1a1a;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.bg-banner {
  background: url("/bg-baneer2.jpg");
}

.bg-banner-header {
  background: url("/bg-banner.jpg");
  background-size: cover;
}
.glass-label {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 0px 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(16.2px);
  -webkit-backdrop-filter: blur(16.2px);
  border: 1px solid rgba(255, 255, 255, 1);
}
.font-10px {
  font-size: 10px;
}
